<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.peace.weex">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".activity.WeexActionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
